<suite thread-count="1" verbose="1" name="E-commerce portal automation">

    <test name="e-commerce portal SignIn">
        <groups>
            <run>
                <include name="login"></include>
            </run>
        </groups>

        <classes>
            <class name="TestRunner.SignInTestRunner"/>
        </classes>
    </test>

    <!--
                <test name="e-commerce portal SignUp">
                    <classes>
                        <class name="TestRunner.SignUpTestRunner"/>
                    </classes>
                </test>
    -->

    <test name="e-commerce portal Purchase Item">
        <groups>
            <run>
                <include name="purchase_product"></include>
            </run>
        </groups>
        <classes>
            <class name="TestRunner.PurchaseItemTestRunner"/>
        </classes>
    </test>

</suite>